<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>E-SHOP</display-name>
    <servlet>
        <servlet-name>mockController</servlet-name>
        <servlet-class>com.eshop.controller.MockController</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>YES!!!</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>mockController</servlet-name>
        <url-pattern>/mock.do</url-pattern>
    </servlet-mapping>
<!--PRODUCT-->
    <servlet>
        <servlet-name>productController</servlet-name>
        <!--<servlet-class>com.eshop.controller.ProductController</servlet-class>-->
        <servlet-class>com.eshop.controller.ProductControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/product.do</url-pattern>
    </servlet-mapping>
<!--PRODUCT ALL-->
    <servlet>
        <servlet-name>productAllController</servlet-name>
        <!--<servlet-class>com.eshop.controller.ProductAllController</servlet-class>-->
        <servlet-class>com.eshop.controller.ProductAllControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAllController</servlet-name>
        <url-pattern>/productAll.do</url-pattern>
    </servlet-mapping>
<!--PRODUCT ADD-->
    <servlet>
        <servlet-name>productAddToBucketController</servlet-name>
        <!--<servlet-class>com.eshop.controller.ProductAddToBucketController</servlet-class>-->
        <servlet-class>com.eshop.controller.ProductAddToBucketControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAddToBucketController</servlet-name>
        <url-pattern>/productAddToBucket.do</url-pattern>
    </servlet-mapping>
<!--PRODUCT REMOVE-->
    <servlet>
        <servlet-name>productRemoveFromBucketController</servlet-name>
        <!--<servlet-class>com.eshop.controller.ProductRemoveFromBucketController</servlet-class>-->
        <servlet-class>com.eshop.controller.ProductRemoveFromBucketControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRemoveFromBucketController</servlet-name>
        <url-pattern>/productRemoveFromBucket.do</url-pattern>
    </servlet-mapping>
<!--COOKIE-->
    <servlet>
        <servlet-name>cookieMock</servlet-name>
        <servlet-class>com.eshop.controller.CookieMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieMock</servlet-name>
        <url-pattern>/cookie.do</url-pattern>
    </servlet-mapping>
    <!--SESSION-->
    <servlet>
        <servlet-name>sessionMock</servlet-name>
        <servlet-class>com.eshop.controller.SessionMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionMock</servlet-name>
        <url-pattern>/session.do</url-pattern>
    </servlet-mapping>
    <!--MVC-->
    <servlet>
        <servlet-name>mvcMock</servlet-name>
        <servlet-class>com.eshop.controller.MVCMockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvcMock</servlet-name>
        <url-pattern>/mvc.do</url-pattern>
    </servlet-mapping>
    <!--FILTERS-->
    <filter>
        <filter-name>timeFilter</filter-name>
        <filter-class>com.eshop.filter.ProcessingTimeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>timeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>infoFilter</filter-name>
        <filter-class>com.eshop.filter.RequestInfoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>infoFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>attributesToSessionFilter</filter-name>
        <filter-class>com.eshop.filter.AddAttributesToSessionFilter</filter-class>
        <init-param>
            <param-name>A</param-name>
            <param-value>filter-value-A</param-value>
        </init-param>
        <init-param>
            <param-name>B</param-name>
            <param-value>filter-value-B</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>attributesToSessionFilter</filter-name>
        <servlet-name>mockController</servlet-name>
    </filter-mapping>
    <!--LISTENERS-->
    <listener>
        <listener-class>com.eshop.listener.MyHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.eshop.listener.MyServletRequestListener</listener-class>
    </listener>
<!--CONTEXT-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/appContext-dao-jdbc-tx.xml</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>